.record-preview{
  .thumbnail;
  position:relative;
  height:100px;

  .btns{
    position: absolute;
    right: 4px;
    top:4px;
  }

  .thumb{
    display: block;
    float: left;
    width: 100px;
  }
  .text{
    display: block;
    float: left;
    width: 140px;
    margin-left: 10px;

  }
}